background ta white na hoye
amr picture ektar por ekta ana jay?
r picture holo..templet gula. ami j rcku sec, pedon pre, tedx pro..ei j templet gula chilo

r ekta Bhul ache..thesis..first ta kora hoy ni. shrinking...

new experience add hobe:-

Starting from 15 May
Stream Camera Operator
DoubleTake Sports
and kaaj er pashe..logo ana jay kina..r o colorfull hoto
lexicon niye bolle..pashe lexicon er logo



education er pashe school, collge, uni r logo
and video niye ekta option chai..
jekhne amr banano formal(about ku) thakbe


https://youtu.be/5aHQ6eJ6Iqg?si=Q9nfe5bejGEbaBWl

<iframe width="560" height="315" src="https://www.youtube.com/embed/5aHQ6eJ6Iqg?si=Q9nfe5bejGEbaBWl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


